body {
  background-color: #111111;
  color: #cccccc;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

button, /* https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Images_media_form_elements */
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  /*height: 30px;*/
}

h1, p {
  margin: 10px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer button {
  margin: 10px;
  background-color: #222222;
  color: #bbbbbb;
}

.addTimer {
  justify-content: center;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  inline-size: 300px;
}

#addTimerInput {
  flex-direction: column;
}

#addTimerButton {
  font-size: 30px;
  background-color: #222222;
  color: #bbbbbb; 
  block-size: 150px;
  border-radius: 0px 15px 15px 0px;
  inline-size: 100px;
}

#addTimerButton:hover {
  background-color: #555555;
}

#addTimerName {
  font-size: 20px;
  block-size: 50px;
  border-radius: 15px 0px 0px 0px;
}

#addTimerDateString {
  font-size: 15px;
  block-size: 50px;
  border-radius: 0px 0px 0px 15px;
}

#addTimerDateTime {
  block-size: 50px;
  /* Weird borders on this input type */
  inline-size: 223px;
  border-width: 1px;
  font-size: 15px;
}

#addTimerOffset {
  /* Weird borders on this input type */
  block-size: 49px;
  inline-size: 74px;
  border-width: 1px;
}

.deleteTimer {
  background-color: #222222;
  color: #bbbbbb;
  border-radius: 5px;
}
