body {
  background-color: #111111;
  color: #cccccc;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bbbbbb;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5em;
  /*height: 30px;*/
}

h1, p {
  margin: 10px;
}

.addTimer {
  justify-content: center;
  align-self: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: inherit;
  inline-size: 300px;
}

#addTimerButton {
  font-size: 50px;
  background-color: #222222;
  color: #bbbbbb; 
  block-size: 100px;
  border-radius: 5px;
}

#addTimerButton:hover {
  background-color: #555555;
}

#addTimerName {
  font-size: 20px;
  block-size: 50px;
  border-radius: 5px 5px 0px 0px;
}

#addTimerDate {
  font-size: 15px;
  block-size: 50px;
  border-radius: 0px 0px 5px 5px;
}
